/target
index.m3u8
master.m3u8
The Big Bang Theory The Cooper-Hofstadter Polarization.ts
The Big Bang Theory The Dumpling Paradox.ts
The Big Bang Theory The Fuzzy Boots Corollary.ts
The Big Bang Theory The Grasshopper Experiment.ts
The Big Bang Theory The Hamburger Postulate.ts
The Big Bang Theory The Loobenfeld Decay.ts
The Big Bang Theory The Luminous Fish Effect.ts
The Big Bang Theory The Middle-Earth Paradigm.ts
The Big Bran Hypothesis.ts
video.ts
videos.txt
Young Sheldon A Brisket, Voodoo, and Cannonball Run.ts
Young Sheldon A Patch, a Modem, and a Zantac.ts
Young Sheldon A Solar Calculator, a Game Ball, and a Cheerleader's Bosom.ts
Young Sheldon A Therapist, a Comic Book, and a Breakfast Sausage.ts
Young Sheldon An Eagle Feather, A String Bean, And An Eskimo.ts
Young Sheldon Cape Canaveral, Schrödinger's Cat, and Cyndi Lauper's Hair.ts
Young Sheldon Demons, Sunday School, and Prime Numbers.ts
Young Sheldon Poker, Faith, and Eggs.ts
Young Sheldon Rockets, Communists, and the Dewey Decimal System.ts
Young Sheldon Spock, Kirk, and Testicular Hernia.ts
